<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">What Is This?</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="https://codyethanjordan.itch.io/"><h2 class="header-link">Itch.io Portfolio</h2></a>
<a href="https://www.linkedin.com/in/codyethanjordan/"><h2 class="header-link">Linkedin</h2></a>
<a href="https://github.com/CodyEthanJordan"><h2 class="header-link">GitHub</h2></a>
<!--<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>-->