@import "colors";
@import "syntax";


@font-face {
	font-family: "Universalis";
	src: url("../assets/fonts/UniversalisADFStd-Regular.otf");
}

* {
	font-family: "Universalis", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  background: #FFFFFF url("../assets/images/theme/background.png") 0 0;
  color: $darkGrey;
  font-size: 16px;
  line-height: 1.5;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

blockquote {
  border-top: .2em solid $darkGrey;
  border-bottom: .2em solid $darkGrey;
  background: #cfcec833;
  padding: 0 1em;
  float: left;
  width: 40%;
}